<hr *ngIf="addedTickersService.getTickers().length > 0" class="w-full border-t border-gray-600 my-4" />
<input
  [(ngModel)]="filter"
  type="text"
  class="pr-10 border-gray-300 text-gray-900 focus:outline-none focus:ring-gray-500 focus:border-gray-500 sm:text-sm rounded-md p-1.5"
  placeholder="Фильтровать тикеры"/>
<button
  *ngIf="page > 1"
  (click)="page = page - 1"
  type="button"
  class="my-4 mx-4 inline-flex items-center py-2 px-4 border border-transparent shadow-sm text-sm leading-4 font-medium rounded-full text-white bg-gray-600 hover:bg-gray-700 transition-colors duration-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500"
>
  Назад
</button>
<button
  *ngIf="page < (addedTickersService.getTickers() | filterTickers: filter).length / 6"
  (click)="page = page + 1"
  type="button"
  class="my-4 mx-4 inline-flex items-center py-2 px-4 border border-transparent shadow-sm text-sm leading-4 font-medium rounded-full text-white bg-gray-600 hover:bg-gray-700 transition-colors duration-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500"
>
  Вперед
</button>
<dl class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-3">
  <app-ticker-item
    *ngFor="let ticker of addedTickersService.getTickers() | filterTickers: filter | paginateTickers: page"
    [ticker]="ticker"
    [selectedTicker]="selectedTicker"
    (deleteTickerEvent)="deleteTicker($event)"
    (selectTickerEvent)="selectTicker($event)"
  ></app-ticker-item>
</dl>
