<div class="container mx-auto flex flex-col items-center bg-gray-100 p-4">
  <app-loader></app-loader>
  <div class="container">
    <app-add-ticker
      [fullTickersList]="fullTickersList"
      (addTickerEvent)="addItem($event)"
    ></app-add-ticker>
    <app-crypto-list
      [addedTickerName]="addedTickerName"
      (selectTickerEvent)="showGraph($event)"
      #tickersList
    ></app-crypto-list>
    <app-graph
      *ngIf="selectedTicker"
      [tickerToShow]="selectedTicker"
      (closeGraphEvent)="onCloseGraph()"
    ></app-graph>
  </div>
</div>
